.create-questions {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto;
  padding: 20px 20px;
  border-radius: 10px;
  background-color: var(--color-second-text);
  max-width: 500px;
  min-height: 550px;

  .input-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .radios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
}
