.management {

  &-content {
    padding: 0 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 25px;

    app-question-item {
      width: 100%;
    }

    .empty {
      margin: 0 auto;
      text-align: center;
      font-size: 28px;
    }
  }

}
